.global-header {
    background: #171a21;
    font-weight: normal;
    font-size: 14px;
    padding-inline: 16px;
}

.global_header_content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0 auto;
}

.logo_holder {
    float: left;
    width: 176px;
    height: 44px;
    padding-top: 30px;
    margin-right: 30px;
}

.nav_container {
    position: absolute;
    top: 45px;
    left: 200px;
}

.nav_link {
    color: #b8b6b4;
    padding: 0 7px;
    text-decoration: none;
}

.nav_link:hover {
    color: white;
}

.actions_menu {
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
}

.install_steam {
    display: inline-block;
    line-height: 24px;
    margin-right: 3px;
}

.install_link {
    display: inline-block;
    padding-inline: 35px 9px;
    color: #e5e4dc;
    background-image: url("https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1");
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-color: #5c7e10;
    text-decoration: none;
}

.install_link:hover {
    color: white;
}

.enter_button {
    padding-inline: 4px;
    color: #b8b6b4;
    text-decoration: none;
}

.enter:hover {
    color: white;
}

.language {
    padding-inline: 4px 18px;
    color: #b8b6b4;
    background-image: url(https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.language:hover {
    color: white;
    cursor: pointer;
}
